@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Coleções de livros/CD's e DVD's do Raph's</h1>
    <p>Aqui você consegue cadastrar a sua coleção!</p>
</div>

